#app {
  font-family: 'Poppins', sans-serif!important;
}

h5, a, .normal-font{
  font-weight: 400!important;
  font-size: 1rem!important;
  letter-spacing: .009375em!important;
  line-height: 1.75rem!important;
}

h3 {
  color: #455a64 !important;
  caret-color: #455a64!important;
  font-size: 1.5rem!important;
  font-weight: 700!important;
}

